*{
	background-image: url("http://38.media.tumblr.com/fd5267ff1121b0d3eb331a2bf831f0de/tumblr_mujst5GqFn1rlaox0o1_500.gif");
	background-size: cover; 
	color: black;
}
div {
	width: 900px; 
	height: 200px;
	border: 5px solid;
	border-color: white pink;
	border-style: hidden double dotted dashed;
	border-radius: 20px;
	padding: 50px 50px;
	background-image: url("http://www.snazzyspace.com/defaultimages/000000_birds-flying-away.gif");
}
div p {
	color: pink;
	font-family: Courier New;
	font-size: 24px;
	font-weight: 200;
	text-align: center;
	padding: 20px;
	border: 5px dotted white;
	border-color: magenta white;
	border-style: groove inset ridge outset;
	margin: 40px;
	background-image: url("https://s-media-cache-ak0.pinimg.com/736x/4a/1e/ca/4a1ecad42aa7502b3578de9b8b331670.jpg")
}